dist: trusty
sudo: required

language: node_js
node_js:
  - 10
  
branches:
  only:
  - master

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - npm ci

script:
  - npm run test
