.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
out/**
node_modules/**
build/**
.gitignore
.yarnrc
package-lock.json
vsc-extension-quickstart.md
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.gitattributes
.huskyrc.json
tsconfig.json
dist/web/test/**

# project
.github/
!node_modules/prettier
test-workspace/
scripts/
commitlint.config.js
